.inline-editor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 12px;
}

.inline-editor>.inline-editor-content {
    display: inline-block;
}

.inline-editor>.inline-editor-input {
    display: none;
}

.inline-editor.inline-editing>.inline-editor-content {
    display: none;
}

.inline-editor.inline-editing>.inline-editor-input {
    display: inline-block;
}

.inline-editor.inline-editing.completing {
    color: #DDD;
}

.inline-editor.inline-editing.completing input {
    user-select: none;
}